@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,700&family=Outfit:wght@400;700&family=Poppins:wght@200&family=Roboto+Condensed:ital,wght@1,300&display=swap');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,500;1,700&family=Outfit:wght@400;700&family=Poppins:wght@200&family=Roboto+Condensed:ital,wght@1,300&display=swap');
/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/